/Manifest.toml
/LocalPreferences.toml
/test/Manifest.toml
/docs/build
/docs/Manifest.toml
/docs/src/tutorials
!/docs/src/tutorials/getting_started.md
# paraview
*.vtu
*.vtr
*.vtk
*.vtm
*.pvd
# others
*.DS_Store
